<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.example.dvcinfo" version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>DeviceInfo</name>

    <js-module name="MyToast" src="www/MyToast.js">
        <clobbers target="cordova.plugins.MyToast" />
    </js-module>
    
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MyToast">
                <param name="android-package" value="com.example.dvcinfo.SpekInfoJava" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
           <uses-permission android:name="android.permission.BLUETOOTH" /> 
        </config-file>
        <source-file src="src/android/SpekInfoJava.java" target-dir="src/cordova-plugin-dvcinfo/MyToast" />
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="MyToast">
                <param name="ios-package" value="MyToast" />
            </feature>
        </config-file>
        <source-file src="src/ios/MyToast.m" />
    </platform>
</plugin>
